.card {
  display: flex;
  flex-flow: column;
  border-radius: 8px;
  width: fit-content;
  background-color: white;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-height: 400px;
}

.card > .header,
.card .content,
.card .footer {
  padding: 8px 16px;
}

.header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 40px;
  background-color: #24292e;
  color: white;
  font-size: 24px;
}

.content {
  margin: 8px 0;
  max-height: 294px;
  overflow: auto;
}

.footer {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  height: 50px;
  background-color: white;
  box-shadow: 0px -0.5px 2px 2px rgba(0, 0, 0, 0.1);
}

.actionButtons {
  display: flex;
  gap: 8px;
  align-items: center;
}
