.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100vw;
  z-index: 5;
  height: var(--navHeight);
  background: var(--secondaryColor);
  position: fixed;
  left: 0;
  top: 0;
}
