.authorCard {
  min-width: 320px;
  max-width: 80vw;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid var(--secondaryColor);
  padding-bottom: 24px;
}

.themesContainer {
  display: flex;
  flex-wrap: wrap;
  grid-template-rows: auto;
  justify-content: space-evenly;
  align-items: center;
  gap: 32px;
}

.themesCard {
  width: 33%;
  min-width: 320px;
}
