*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--textColor);
  background-color: var(--backgroundColor);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: var(--primaryColor);
  text-decoration: inherit;
}
a:hover {
  color: var(--primaryColor);
  filter: brightness(0.8);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

body {
  --navHeight: 48px;
  max-width: 1400px;
  width: 100vw;
  margin: 0 auto;
}

.root {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
